@using RealEstate.WebUILayer.DTOs.ProductDTOs
@model List<ResultPopularProductDTO>
<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Sunduklarımız</span>
                <h2 class="mb-2">Size Özel Fırsatlar</h2>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="property-wrap ftco-animate">
                        <a href="#" class="img" style="background-image: url(@item.ProductCoverImage);"></a>
                        <div class="text">
                            <p class="price"><span class="orig-price">₺@item.ProductPrice.ToString("N2")</span></p>
                            <ul class="property_list">
                                <li><span class="flaticon-bed"></span>@item.ProductBedRoomCount</li>
                                <li><span class="flaticon-bathtub"></span>@item.ProductBathCount</li>
                                <li><span class="flaticon-floor-plan"></span>@item.ProductSize m2</li>
                            </ul>
                            <h3><a href="#">@item.ProductTitle</a></h3>
                            <span class="location">@item.ProductDistrict, @item.ProductCity</span>
                            <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
