@using RealEstate.WebUILayer.DTOs.EmployeeDTOs
@model UpdateEmployeeDTO
@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Personel Güncelle
        </h2>

        <form method="post" action="/Admin/Employee/UpdateEmployee">
            
            <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />

            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">

                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Ad Soyad</span>
                    <input type="text"
                           name="EmployeeNameSurname"
                           value="@Model.EmployeeNameSurname"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input rounded-md border-gray-300 shadow-sm"
                           placeholder="Personel ad soyad giriniz..."
                           required />
                </label>

                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Unvan</span>
                    <input type="text"
                           name="EmployeeTitle"
                           value="@Model.EmployeeTitle"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input rounded-md border-gray-300 shadow-sm"
                           placeholder="Personel unvan giriniz..."
                           required />
                </label>

                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Email</span>
                    <input type="email"
                           name="EmployeeEmail"
                           value="@Model.EmployeeEmail"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input rounded-md border-gray-300 shadow-sm"
                           placeholder="Personel email giriniz..."
                           required />
                </label>

                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Telefon Numarası</span>
                    <input type="text"
                           name="EmployeePhoneNumber"
                           value="@Model.EmployeePhoneNumber"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input rounded-md border-gray-300 shadow-sm"
                           placeholder="Personel telefon numarası giriniz..."
                           required />
                </label>

                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Görsel URL</span>
                    <input type="text"
                           name="EmployeeImageUrl"
                           value="@Model.EmployeeImageUrl"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input rounded-md border-gray-300 shadow-sm"
                           placeholder="Personel görsel url giriniz..."
                           required />
                </label>

                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        Durum
                    </span>
                    <select name="EmployeeStatus"
                            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray rounded-md border-gray-300 shadow-sm">
                        @if (Model.EmployeeStatus)
                        {
                            <option value="true" selected>Aktif</option>
                            <option value="false">Pasif</option>
                        }
                        else
                        {
                            <option value="true">Aktif</option>
                            <option value="false" selected>Pasif</option>
                        }
                    </select>
                </label>

                <div class="mt-6">
                    <button type="submit"
                            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Güncelle
                    </button>
                    <a href="/Admin/Employee/Index"
                       class="ml-2 px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg hover:bg-gray-100 focus:outline-none focus:shadow-outline-gray dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-gray-300">
                        İptal ve Geri Dön
                    </a>
                </div>

            </div>
        </form>

    </div>
</main>
